@import "base/vars";
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

@import "base/extend";

header {
    @extend %head-foot;
    .fake {
        width: 56px;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    height: 60px;
    line-height: 60px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

a {
    display: inline-block;
    font-size: large;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    color: orangered;
    transform: scale(1.2);
}

dd,
dt {
    color: white;
    text-align: center;
}

form {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0;
    padding-right: 0;
}

fieldset {
    border: 1px solid $color-principal;
    padding: 20px;
}

legend {
    color: $color-principal;
    background-color: black;
    width: auto;
    margin-top: -40px;
}

input {
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    background-color: white;
    color: $color-secundario;
}

textarea {
    border-radius: 15px;
    padding: 25px 35px;
    text-align: center;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    @extend %head-foot;
}

footer {
    p {
        text-align: center;
        color: white;
        margin-bottom: 25px;
    }
}

footer {
    nav {
        flex-wrap: wrap;
    }
}

@import "html/home";
@import "html/nosotros";
@import "html/contacto";
@import "html/shows";
@import "html/discos";
@import "medias/media";
